@{
    ViewBag.Title = "Home Page";
}

<div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
               <h1 class="darkgrey-text">TheMovieList</h1>
                <p class="lightdarkgrey-text">Lorem Ipsum er ganske enkelt fyldtekst fra print- 
                og typografiindustrien. Lorem Ipsum har været standard fyldtekst 
                siden 1500-tallet, hvor en ukendt trykker sammensatte 
                en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har</p>
               
                <a href="/Account/Register" class="btn btn-register" role="button">Register</a>
                <a href="/MovieList/Index" class="btn btn-all-movies" role="button">All Movies</a>
            </div>
           
        </div>
    </div>
</div>

<div class="content-all">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h2 class="grey-text">Make your own list</h2>
                <p>
                    Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
                    Lorem Ipsum har været standard fyldtekst siden 1500-tallet,
                    hvor en ukendt trykker sammensatte en tilfældig
                    spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har
                </p>
            </div>

        </div>

        

        <div class="row margin-large">
            <div class="col-md-4 text-center">
                <div class="info-box">
                   
                    <h3>Step 1</h3>
                    <h4 class="lightdarkgrey-text margin-medium">Make a new account</h4>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="info-box">

                    <h3>Step 2</h3>
                    <h4 class="lightdarkgrey-text margin-medium">Go to the Movielist</h4>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="info-box">

                    <h3>Step 3</h3>
                    <h4 class="lightdarkgrey-text margin-medium">Add to favorites</h4>
                </div>
            </div>
        </div>

        
    </div>
</div>